<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    -->

  <log4net>
   
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender" >
     

      <connectionString name ="xxx" value="data source=.;Initial Catalog=redemptiondb2;User ID=testuser2;Password=123456;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

    </appender>
  </log4net>
  
    <connectionStrings>
      <add name="ApplicationServices" 
        connectionString="data source=.;Initial Catalog=redemptiondb2;User ID=testuser2;Password=123456;" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  <appSettings>
    <!--Site -->
    <add key="MainSiteRootUrl" value="http://rewardshub.dev1.codebox1.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AdminSiteRootUrl" value="http://rewardshub.dev1.codebox1.com/adm" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!--Client Site -->
    <add key="PhysicalClientRootPath" value="D:\Dev1Websites\rewardshub.dev1.codebox1.com\Clients" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="RootPhysicalFolderPath" value="C:\Data\Edwin Solutions\Letrain Site\source\VSSolution2010" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PromoPhysicalPath" value="\Redemption\imgup\promo\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RewardPhysicalPath" value="\Redemption\imgup\reward\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UploadInvoicePhysicalPath" value="\Redemption\imgup\invoice\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UploadInvoiceRelativePath" value="../../mc/imgup/invoice/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UploadInvoiceVirtualPath" value="~/imgup/invoice/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UploadPromoVirtualPath" value="~/imgup/promo/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UploadRewardVirtualPath" value="~/imgup/reward/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UploadEventVirtualPath" value="~/imgup/event/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

  </appSettings>
    <system.web>
      <authentication mode="Forms">
        <forms name=".rewardshub" loginUrl="~/adm/Public/Login.aspx"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      </authentication>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
          
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
-->
    </system.web>
</configuration>