<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    -->
  <connectionStrings>
    <add name="ApplicationServices"
      connectionString="data source=.;Initial Catalog=redemptiondb2;User ID=testuser2;Password=123456;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <!--Client id to define the client site -->
    <add key="ClientId" value="1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SiteRootUrl" value="http://rewardshub.dev1.codebox1.com/mc" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />


    <!--File path -->
    <add key="RootPhysicalFolderPath" value="D:\Dev1Websites\rewardshub.dev1.codebox1.com\Clients\MC" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PromoPhysicalPath" value="\Redemption\imgup\promo\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RewardPhysicalPath" value="\Redemption\imgup\reward\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UploadInvoicePhysicalPath" value="\Redemption\imgup\invoice\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UploadInvoiceRelativePath" value="../mc/imgup/invoice/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UploadInvoiceVirtualPath" value="~/imgup/invoice/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="RootRelativePath" value="/mc" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    
    <!--Relative path for uploaded images in pages -->
    <add key="EventRelativePath" value="imgup/event/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PromoRelativePath" value="imgup/promo/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="InvoiceRelativePath" value="imgup/invoice/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RewardRelativePath" value="imgup/reward/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

  </appSettings>
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>