<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="ApplicationServices"
             connectionString="data source=idea-pc\SQLEXPRESS2008r2;Initial Catalog=redemptiondb2;User ID=redemptionuser;Password=123456;"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>